@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Akira Expanded';
  src: url('../../Akira\ Expanded\ Demo.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('https://fe-trt6-77i4ecikg-karar189.vercel.app/static/media/bg-ln.1c101b90.svg');
}

.container {
  width: 90%;
  margin: 0px auto;
}

.font-akira {
  font-family: 'Akira Expanded', sans-serif;
}

.akira-white {
  font-family: 'Akira Expanded', sans-serif;
  color: white;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.main-btn {
  border-radius: 0px 30px;
  background: #9747ff;
  padding: 10px 100px;
  color: white;
  font-weight: 500;
}

.sub-title-gradient {
  background: linear-gradient(90deg, #ffff, #caa0ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images//assets/header.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}